In [5]:
import sys
import MySQLdb as mdb
from pandas.io.sql import read_sql
import pandas as pd



try:
    con = mdb.connect('localhost', 'root', '', 'sakila');

    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    ver = cur.fetchone()
    
    print "Database version : %s " % ver
    
except mdb.Error, e:
  
    print "Error %d: %s" % (e.args[0],e.args[1])
    sys.exit(1)

Database version : 5.6.26

In [6]:
cur.execute('select sum(amount), payment_date  from payment group by payment_date limit 50;')

for row in cur.fetchall():
    print(row)

con.close()

(Decimal('2.99'), datetime.datetime(2005, 5, 24, 22, 53, 30))
(Decimal('2.99'), datetime.datetime(2005, 5, 24, 22, 54, 33))
(Decimal('3.99'), datetime.datetime(2005, 5, 24, 23, 3, 39))
(Decimal('4.99'), datetime.datetime(2005, 5, 24, 23, 4, 41))
(Decimal('6.99'), datetime.datetime(2005, 5, 24, 23, 5, 21))
(Decimal('0.99'), datetime.datetime(2005, 5, 24, 23, 8, 7))
(Decimal('1.99'), datetime.datetime(2005, 5, 24, 23, 11, 53))
(Decimal('4.99'), datetime.datetime(2005, 5, 24, 23, 31, 46))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 0, 0, 40))
(Decimal('5.99'), datetime.datetime(2005, 5, 25, 0, 2, 21))
(Decimal('8.99'), datetime.datetime(2005, 5, 25, 0, 9, 2))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 0, 19, 27))
(Decimal('6.99'), datetime.datetime(2005, 5, 25, 0, 22, 55))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 0, 31, 15))
(Decimal('9.99'), datetime.datetime(2005, 5, 25, 0, 39, 22))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 0, 43, 11))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 1, 6, 36))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 1, 10, 47))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 1, 17, 24))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 1, 48, 41))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 1, 59, 46))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 2, 19, 23))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 2, 40, 21))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 2, 53, 2))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 3, 21, 20))
(Decimal('3.99'), datetime.datetime(2005, 5, 25, 3, 36, 50))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 3, 41, 50))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 3, 42, 37))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 3, 47, 12))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 4, 1, 32))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 4, 5, 17))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 4, 6, 21))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 4, 18, 51))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 4, 19, 28))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 4, 24, 36))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 4, 36, 26))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 4, 44, 31))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 4, 47, 44))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 4, 51, 46))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 5, 9, 4))
(Decimal('5.99'), datetime.datetime(2005, 5, 25, 5, 12, 29))
(Decimal('4.99'), datetime.datetime(2005, 5, 25, 5, 24, 58))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 5, 39, 25))
(Decimal('0.99'), datetime.datetime(2005, 5, 25, 5, 53, 23))
(Decimal('7.99'), datetime.datetime(2005, 5, 25, 5, 59, 39))
(Decimal('5.99'), datetime.datetime(2005, 5, 25, 6, 4, 8))
(Decimal('3.99'), datetime.datetime(2005, 5, 25, 6, 5, 20))
(Decimal('1.99'), datetime.datetime(2005, 5, 25, 6, 20, 46))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 6, 39, 35))
(Decimal('2.99'), datetime.datetime(2005, 5, 25, 6, 44, 53))